extends layouts/LayoutTheme
include ./mixins/homes/Default.pug
include ./mixins/homes/Bicycle.pug

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`)
  script(src=`${CWD}vendors/progressbar/progressbar.min.js`)
  script(src=`${CWD}vendors/rellax/rellax.min.js`) 

block beforeMainContent
  +FancyNav(false, 
  {    
    "클럽 정기행사": "./index.html#defaultWhyUs",
    "공연 쇼 이벤트": "./index.html#defaultServices",
    "컨시어지 숙박 호텔": "./index.html#defaultProgressbar",
    "관광지 엑티비티": "./index.html#defaultPricingPlan",
    "레스토랑 맛집": "./index.html#defaultMembers",
    "교통 렌트": "./index.html#defaultGallery",
    "쇼핑": "./index.html#defaultGallery",
    "회원가입": "./joinus.html"
  })(data-onscroll-fade-in=false)

append mainContent
  +BicycleHeader
  +DefaultWhyUs
  +DefaultVideo
  +DefaultServices
  +DefaultProcess
  +DefaultCta1
  +DefaultProgressbar

  +DefaultCta2
  +DefaultPricingPlan
  +DefaultCta3
  +DefaultMembers
  +DefaultGallery
  +DefaultCta4